/* Placeholders*/
@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Roboto&display=swap");
.shortly__heading, .topbar, .footer {
  background-color: #579C87;
  color: #FEC85F; }

@-webkit-keyframes wiggle {
  0% {
    left: 0; }
  1% {
    left: -3px; }
  2% {
    left: 5px; }
  3% {
    left: -8px; }
  4% {
    left: 8px; }
  5% {
    left: -5px; }
  6% {
    left: 3px; }
  7% {
    left: 0; } }

@keyframes wiggle {
  0% {
    left: 0; }
  1% {
    left: -3px; }
  2% {
    left: 5px; }
  3% {
    left: -8px; }
  4% {
    left: 8px; }
  5% {
    left: -5px; }
  6% {
    left: 3px; }
  7% {
    left: 0; } }
@-webkit-keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    opacity: .25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); } }
@keyframes pulse {
  from {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); }
  to {
    opacity: .25;
    -webkit-transform: scale(0.75);
            transform: scale(0.75); } }
/* Font */
/* 
Reset style navigateur 
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

main {
  margin: 2rem 8% 5.5rem 8%; }

/* Media Quieries */
@media all and (max-width: 768px) {
  body {
    font-size: 18px; } }

.shortly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0 1em 0; }
  .shortly__heading {
    border-radius: 5% / 24%;
    padding: 1%; }
  @media all and (max-width: 768px) {
    .shortly {
      font-size: 1em; } }

.bubble {
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background-color: #FEC85F; }

.bubble-1 {
  -webkit-animation: pulse .4s ease 0s infinite alternate;
          animation: pulse .4s ease 0s infinite alternate; }

.bubble-2 {
  -webkit-animation: pulse .4s ease .2s infinite alternate;
          animation: pulse .4s ease .2s infinite alternate; }

.bubble-3 {
  -webkit-animation: pulse .4s ease .4s infinite alternate;
          animation: pulse .4s ease .4s infinite alternate; }

.topbar {
  width: 100%;
  text-align: center;
  padding: 1rem 0; }
  .topbar__logo {
    width: 30%; }

.footer {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
  padding: 1.5rem; }
  .footer__contact, .footer__legal-notice {
    position: relative; }
    .footer__contact:hover, .footer__legal-notice:hover {
      -webkit-animation: wiggle 5s ease-in;
              animation: wiggle 5s ease-in; }
  .footer a {
    text-decoration: none;
    color: #FEC85F; }
  @media all and (max-width: 768px) {
    .footer {
      font-size: 1rem; } }

.menu {
  padding: 5% 10%;
  font-size: 1.5rem;
  line-height: 3rem; }
  .menu__header {
    text-align: center;
    padding: 3rem 0 5rem 0; }
    .menu__header__header__name {
      font-size: 3rem;
      padding-bottom: 3rem; }
  .menu .line-left, .menu .line-right {
    display: inline-block;
    border: none;
    height: 0.3rem;
    width: 33%; }
  .menu-section {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    position: relative; }
    .menu-section::after {
      content: "";
      background-color: #3d1319;
      height: 2px;
      width: 0%;
      position: absolute;
      left: 0;
      bottom: 0;
      -webkit-transition: width 150ms;
      transition: width 150ms; }
    .menu-section:hover::after {
      width: 100%; }
  .menu--chic-francais {
    background-color: #fff5fe;
    font-family: "Roboto", sans-serif; }
    .menu--chic-francais .menu__header {
      font-size: 4rem;
      background: -webkit-gradient(linear, left top, right top, from(#c67412), to(#6e4ccc));
      background: linear-gradient(to right, #c67412 0%, #6e4ccc 100%);
      -webkit-background-clip: text;
      color: transparent; }
      .menu--chic-francais .menu__header__logo {
        font-size: 9rem; }
    .menu--chic-francais .desktop-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media all and (max-width: 768px) {
        .menu--chic-francais .desktop-row {
          display: block; } }
      .menu--chic-francais .desktop-row__plat {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        @media all and (max-width: 768px) {
          .menu--chic-francais .desktop-row__plat {
            font-size: 1.1rem; } }
      .menu--chic-francais .desktop-row__prix {
        font-weight: bold; }
        @media all and (max-width: 768px) {
          .menu--chic-francais .desktop-row__prix {
            text-align: right; } }
    .menu--chic-francais .menu__starter {
      color: #c67412; }
      .menu--chic-francais .menu__starter .line-left {
        background: #c67412; }
      .menu--chic-francais .menu__starter .line-right {
        background: #c67412; }
    .menu--chic-francais .menu__course {
      color: #a56799; }
      .menu--chic-francais .menu__course .line-left {
        background: #a56799; }
      .menu--chic-francais .menu__course .line-right {
        background: #a56799; }
    .menu--chic-francais .menu__dessert {
      color: #6e4ccc; }
      .menu--chic-francais .menu__dessert .line-left {
        background: #6e4ccc; }
      .menu--chic-francais .menu__dessert .line-right {
        background: #6e4ccc; }
  .menu--note-enchantee {
    background-color: #fcdfdb;
    font-family: "Dancing Script", cursive; }
    .menu--note-enchantee .menu__header {
      font-size: 4rem;
      color: #3d1319; }
      .menu--note-enchantee .menu__header__logo {
        font-size: 9rem;
        background: -webkit-gradient(linear, left top, right top, from(#f15c61), to(#f6916a));
        background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
        -webkit-background-clip: text;
        color: transparent; }
    .menu--note-enchantee .desktop-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media all and (max-width: 768px) {
        .menu--note-enchantee .desktop-row {
          display: block; } }
      .menu--note-enchantee .desktop-row__plat {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        @media all and (max-width: 768px) {
          .menu--note-enchantee .desktop-row__plat {
            font-size: 1.1rem; } }
      .menu--note-enchantee .desktop-row__prix {
        font-weight: bold; }
        @media all and (max-width: 768px) {
          .menu--note-enchantee .desktop-row__prix {
            text-align: right; } }
    .menu--note-enchantee .menu__starter {
      color: #3d1319; }
      .menu--note-enchantee .menu__starter .line-left {
        background: #3d1319; }
      .menu--note-enchantee .menu__starter .line-right {
        background: #3d1319; }
    .menu--note-enchantee .menu__course {
      color: #3d1319; }
      .menu--note-enchantee .menu__course .line-left {
        background: #3d1319; }
      .menu--note-enchantee .menu__course .line-right {
        background: #3d1319; }
    .menu--note-enchantee .menu__dessert {
      color: #3d1319; }
      .menu--note-enchantee .menu__dessert .line-left {
        background: #3d1319; }
      .menu--note-enchantee .menu__dessert .line-right {
        background: #3d1319; }
  .menu--delice-papilles {
    background-color: #edefef;
    font-family: "Dancing Script", cursive; }
    .menu--delice-papilles .menu__header {
      font-size: 4rem;
      background: -webkit-gradient(linear, left top, right top, from(#0228dd), to(#229df9));
      background: linear-gradient(to right, #0228dd 0%, #229df9 100%);
      -webkit-background-clip: text;
      color: transparent; }
      .menu--delice-papilles .menu__header__logo {
        font-size: 9rem; }
    .menu--delice-papilles .desktop-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media all and (max-width: 768px) {
        .menu--delice-papilles .desktop-row {
          display: block; } }
      .menu--delice-papilles .desktop-row__plat {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        @media all and (max-width: 768px) {
          .menu--delice-papilles .desktop-row__plat {
            font-size: 1.1rem; } }
      .menu--delice-papilles .desktop-row__prix {
        font-weight: bold; }
        @media all and (max-width: 768px) {
          .menu--delice-papilles .desktop-row__prix {
            text-align: right; } }
    .menu--delice-papilles .menu__starter {
      color: #000000; }
      .menu--delice-papilles .menu__starter .line-left {
        background: #0228dd; }
      .menu--delice-papilles .menu__starter .line-right {
        background: #0228dd; }
    .menu--delice-papilles .menu__course {
      color: #000000; }
      .menu--delice-papilles .menu__course .line-left {
        background: #0670f3; }
      .menu--delice-papilles .menu__course .line-right {
        background: #0670f3; }
    .menu--delice-papilles .menu__dessert {
      color: #000000; }
      .menu--delice-papilles .menu__dessert .line-left {
        background: #229df9; }
      .menu--delice-papilles .menu__dessert .line-right {
        background: #229df9; }
  .menu--palette-gout {
    background-color: #fdfffd;
    font-family: "Dancing Script", cursive; }
    .menu--palette-gout .menu__header {
      font-size: 4rem;
      background: -webkit-gradient(linear, right top, left top, from(#beff7f), to(#45993e));
      background: linear-gradient(to left, #beff7f 0%, #45993e 100%);
      -webkit-background-clip: text;
      color: transparent; }
      .menu--palette-gout .menu__header__logo {
        font-size: 9rem; }
    .menu--palette-gout .desktop-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media all and (max-width: 768px) {
        .menu--palette-gout .desktop-row {
          display: block; } }
      .menu--palette-gout .desktop-row__plat {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; }
        @media all and (max-width: 768px) {
          .menu--palette-gout .desktop-row__plat {
            font-size: 1.1rem; } }
      .menu--palette-gout .desktop-row__prix {
        font-weight: bold; }
        @media all and (max-width: 768px) {
          .menu--palette-gout .desktop-row__prix {
            text-align: right; } }
    .menu--palette-gout .menu__starter {
      color: #000000; }
      .menu--palette-gout .menu__starter .line-left {
        background: -webkit-gradient(linear, right top, left top, from(#41963c), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to left, #41963c, rgba(0, 0, 0, 0)); }
      .menu--palette-gout .menu__starter .line-right {
        background: -webkit-gradient(linear, left top, right top, from(#41963c), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to right, #41963c, rgba(0, 0, 0, 0)); }
    .menu--palette-gout .menu__course {
      color: #000000; }
      .menu--palette-gout .menu__course .line-left {
        background: -webkit-gradient(linear, right top, left top, from(#41963c), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to left, #41963c, rgba(0, 0, 0, 0)); }
      .menu--palette-gout .menu__course .line-right {
        background: -webkit-gradient(linear, left top, right top, from(#41963c), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to right, #41963c, rgba(0, 0, 0, 0)); }
    .menu--palette-gout .menu__dessert {
      color: #000000; }
      .menu--palette-gout .menu__dessert .line-left {
        background: -webkit-gradient(linear, right top, left top, from(#41963c), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to left, #41963c, rgba(0, 0, 0, 0)); }
      .menu--palette-gout .menu__dessert .line-right {
        background: -webkit-gradient(linear, left top, right top, from(#41963c), to(rgba(0, 0, 0, 0)));
        background: linear-gradient(to right, #41963c, rgba(0, 0, 0, 0)); }
  .menu .flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .menu .menu__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem; }
    .menu .menu__footer__logo {
      font-size: 9rem;
      background: -webkit-gradient(linear, left top, right top, from(#f15c61), to(#f6916a));
      background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .restaurant__menu {
    width: 45%;
    margin: 1%;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden; }
    .restaurant__menu img {
      width: 100%;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease; }
      .restaurant__menu img:hover {
        -webkit-transform: scalex(1.2);
                transform: scalex(1.2); }

/*# sourceMappingURL=style.css.map */