.shortly
{
	display: flex;
	font-size: 3em;
	justify-content : center;
	margin: 1em 0 1em 0;
	&__heading
	{
		background-color: $color-navbar;
		border-radius: 5% / 24%;
		padding: 1%;

	}
	@media all and (max-width: 425px) {
		font-size: $font-size-mobile;
	}

}


.bubble {
	display: inline-block;
	width: 0.4em;
	height: 0.4em;
	border-radius: 50%;
	background-color: $color-text;
}

.bubble-1 {
	animation: pulse .4s ease 0s infinite alternate;
}
.bubble-2 {
	animation: pulse .4s ease .2s infinite alternate;
}
.bubble-3 {
	animation: pulse .4s ease .4s infinite alternate;
}
