//Effet Wiggle


  @keyframes wiggle {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }
  
// Zoom au passage de la sourie

@mixin hoverscale{
  transform:scalex(1.3);
}

// Effet sur prochainement

@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}