//Couleur


$color-navbar : #579C87;
$color-index: #FEC85F;

$note-enchantee: (
	'font': ('Dancing Script', cursive),
	'bgc':#fcdfdb,
	'color-heading':#3d1319,
	'color-heading-degrade':false,
	'color-logo':linear-gradient(to right, #f15c61 0%, #f6916a 100%),
	'color-logo-degrade':true,
	'color-text-starter':#3d1319,
	'color-trait-starter-left':#3d1319,
	'color-trait-starter-right':#3d1319,
	'color-text-course':#3d1319,
	'color-trait-course-left':#3d1319,
	'color-trait-course-right':#3d1319,
	'color-text-dessert':#3d1319,
	'color-trait-dessert-left':#3d1319,
	'color-trait-dessert-right':#3d1319,
	);

$chic-francais: (
	'font': ('Roboto', sans-serif),
	'bgc':#fff5fe,
	'color-heading':red,
	'color-heading-degrade':true,
	'color-logo':red,
	'color-logo-degrade':false,
	'color-text-starter':#c67412,
	'color-trait-starter-left':#c67412,
	'color-trait-starter-right':#c67412,
	'color-text-course':#a56799,
	'color-trait-course-left':#a56799,
	'color-trait-course-right':#a56799,
	'color-text-dessert':#6e4ccc,
	'color-trait-dessert-left':#6e4ccc,
	'color-trait-dessert-right':#6e4ccc,
	);

$delice-papilles: (
	'font': ('Dancing Script', cursive),
	'bgc':#edefef, 
	'color-heading':red,
	'color-heading-degrade':true,
	'color-logo':red,
	'color-logo-degrade':false,
	'color-text-starter':#000000,
	'color-trait-starter-left':#0228dd,
	'color-trait-starter-right':#0228dd,
	'color-text-course':#000000,
	'color-trait-course-left':#0670f3,
	'color-trait-course-right':#0670f3,
	'color-text-dessert':#000000,
	'color-trait-dessert-left':#229df9,
	'color-trait-dessert-right':#229df9,
	);

$palette-gout: (
	'font': ('Dancing Script', cursive),
	'bgc':#fdfffd,
	'color-heading':linear-gradient(to left, #beff7f 0%, #45993e 100%),
	'color-heading-degrade':true,
	'color-logo':red,
	'color-logo-degrade':false,
	'color-text-starter':#000000,
	'color-trait-starter-left':linear-gradient(to left, #41963c, rgba(0,0,0,0)),
	'color-trait-starter-right':linear-gradient(to right, #41963c, rgba(0,0,0,0)),
	'color-text-course':#000000,
	'color-trait-course-left':linear-gradient(to left, #41963c, rgba(0,0,0,0)),
	'color-trait-course-right':linear-gradient(to right, #41963c, rgba(0,0,0,0)),
	'color-text-dessert':#000000,
	'color-trait-dessert-left':linear-gradient(to left, #41963c, rgba(0,0,0,0)),
	'color-trait-dessert-right':linear-gradient(to right, #41963c, rgba(0,0,0,0)),
	);


//Fonts
$font : 'Roboto', sans-serif;
$font-size-mobile :1em;



