.menu
{
	padding: 5% 10%;
	
	&-section
	{
		flex-grow:1;
		text-align: center;
		position: relative;
		&::after{
			content: "";
			background-color: #3d1319;
			height: 2px;
			width: 0%;
			position: absolute;
			left: 0;
			bottom: 0;
			transition: width 150ms;
		}
		&:hover{
			&::after
			{
				width: 100%;
			}
		}

	}
	/*&--note-enchantee{
		line-height: 3rem;
		font-size: 1.5rem;
		font-weight: lighter;
		color: #3d1319;
		background-color: #fcdfdb;
		&__header__name{
			font-size:3rem;
			padding-bottom: 3rem;
		}
	}*/

	&--chic-francais{
		@include menu-restaurant (chic-francais);

	}
}

.note-enchantee
{
	font-family: "kalam", cursive;
	&__logo
	{
		font-size: 9rem;
		background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

