.menu
{
	padding: 5% 10%;
	font-size: 1.5rem;
	line-height: 3rem;
	&__header{
		text-align: center;
		padding:3rem 0 5rem 0;
		&__header__name{
			font-size:3rem;
			padding-bottom: 3rem;
		}
	}
	& .line-left, & .line-right{
		display: inline-block;
		border: none;
		height: 0.3rem;
		width: 33%;
	}	
	&-section
	{
		flex-grow:1;
		text-align: center;
		position: relative;
		&::after{
			content: "";
			background-color: #3d1319;
			height: 2px;
			width: 0%;
			position: absolute;
			left: 0;
			bottom: 0;
			transition: width 150ms;
		}
		&:hover{
			&::after
			{
				width: 100%;
			}
		}
	}
	&--chic-francais{
		@include menu-restaurant ($chic-francais);
	}
	&--note-enchantee{
		@include menu-restaurant ($note-enchantee);
	}
	&--delice-papilles{
		@include menu-restaurant ($delice-papilles);
	}
	&--palette-gout{
		@include menu-restaurant ($palette-gout);
	}
	& .flex-row{
		display: flex;
		align-items: center;
	}
	& .menu__footer {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 2rem;
		font-weight: bold;
		margin: 1rem;
		&__logo
		{
			@include tablet{font-size:4rem;};
			font-size: 9rem;
			background: linear-gradient(to right, #f15c61 0%, #f6916a 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}


